.App {
  text-align: center;
}

tspan {
    display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ui5-shellbar-secondary-title {
  font-size: 100px;
}

.delete-button {
  border-color: red;
  color: red;
  align-self: center;
  margin-left: 13px;
}

.popover {
  margin-left: 5px;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dashboard {
  margin: 10px;
}

.btn {
  margin: 10px;
}

.create-dashboard {
  margin: 10px;
}

.gadget {
  background: white;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  margin: 10px;
  padding: 0;
  display: flex;
  width: 100%;
}

.gadget-filter {
  margin: 10px;
}

.action:hover {
  background-color: #ebecf0;
}

.add-gadget-form {
  border: 1px solid #dad7d7;
  border-radius: 3px;
  align-self: center;
  padding: 30px;
  margin: 30px;
  display: flex;
}

.card {
  margin: 14px;
  font-family: var(--sapFontFamily);
}

.form {
  width: 100%;
}

.close-create-gadget {
  padding-left: 20px;
}

.gadget-list {
  background: white;
  margin: 0px;
  padding: 0;
}

.gadget-container {
  background: white;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dashboard-container {
  background: white;
  margin-top: 60px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  list-style-type: none;
}

.content-container {
  background: #d6d6d6;
  padding: 20px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
